* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
@import 'tailwindcss';
@plugin '../hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '.././node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
/* @custom-variant dark (&:where(.dark, .dark *)); */
:root {
	--sb-primary: #144419;
	--sb-secondary: #cdf546;
	--sb-secondary-300: #ebffd7;
	--sb-tertiary: #d4f6b2;
	--sb-dark-one: #333333;
	--sb-white-one: #f5f5f5;
	--sb-white-two: #ffffff;
}

@theme {
	--color-sb-primary: var(--sb-primary);
	--color-sb-secondary: var(--sb-secondary);
	--color-sb-secondary-300: var(--sb-secondary-300);
	--color-sb-tertiary: var(--sb-tertiary);
	--color-sb-dark-one: var(--sb-dark-one);
	--color-sb-white-one: var(--sb-white-one);
	--color-sb-white-two: var(--sb-white-two);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

@layer base {
	body {
		background-color: var(--sb-white-one);
	}
}

@media only screen and (max-width: 1024px) {
	.list {
		display: grid !important;
		grid-template-columns: repeat(3, 1fr);
	}
}

h1 .custom-header-light {
	font-weight: 300 !important;
}
