@import 'tailwindcss';

@config "../tailwind.config.js";

@layer base {
	body {
		background-color: var(--sb-white-one);
	}
}

@media only screen and (max-width: 1024px) {
	.list {
		display: grid !important;
		grid-template-columns: repeat(3, 1fr);
	}
}

h1 .custom-header-light {
	font-weight: 300 !important;
}
